
<html>
<head>
<link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css">
<link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-responsive.min.css">
<link rel="stylesheet" type="text/css" href="http://blueimp.github.io/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css">
</head>
<body>
    <h1> Flickr Explore </h1>
    <div class="container">
        <div class="row" id="gallery" data-toggle="modal-gallery" data-target= "#modal-gallery"  data-selector=".item" >
            {%for image in images %}
                <div class="span3 item" class="gallery-item" data-href="{{MEDIA_URL}}{{image.picture}}" title="{{image}}">
                    <h3>{{image}}</h3>
                    <div><img class="thumbnails span10" src="{{MEDIA_URL}}{{image.picture}}"></div>
                </div>
            {%endfor%}
        </div>
    </div>

    <div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body"><div class="modal-image"></div></div>
        <div class="modal-footer">
            <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Previous</a>
            <a class="btn btn-primary modal-next">Next <i class="icon-arrow-right icon-white"></i></a>
            <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>
            <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>
        </div>
    </div>

    <script src="http://isotope.metafizzy.co/js/jquery-1.7.1.min.js"></script>
    <script src="http://isotope.metafizzy.co/jquery.isotope.min.js"></script>
    <script src="http://blueimp.github.com/cdn/js/bootstrap.min.js"></script>
    <script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
    <script src="http://blueimp.github.io/Bootstrap-Image-Gallery/js/bootstrap-image-gallery.min.js"></script>
     <script type="text/javascript">
        $(".container").isotope({
          // options
          itemSelector : '.item',
          layoutMode : 'fitRows'
        });
        $( "#gallery").on('load', function () {
            var modalData = $(this).data('modal');
            // modalData.$links is the list of (filtered) element nodes as jQuery object
            // modalData.img is the img (or canvas) element for the loaded image
            // modalData.options.index is the index of the current link
        });
     </script>
</body>
<html>